[[local|localrc]]
BRANCH=stable/yoga
ADMIN_PASSWORD=secret

DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD

# nova console
enable_service n-novnc

# horizon
enable_service horizon

RECLONE=true

CINDER_BRANCH=$BRANCH
GLANCE_BRANCH=$BRANCH
HORIZON_BRANCH=$BRANCH
KEYSTONE_BRANCH=$BRANCH
NOVA_BRANCH=$BRANCH
NEUTRON_BRANCH=$BRANCH
REQUIREMENTS_BRANCH=$BRANCH
